<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
</head>
<body>
  <h2>Shree Swami Samartha Tiffin Service</h2>

  <form method="post" action="/login">
    <div>
      <input type="text" name="username" placeholder="Username" required />
    </div>
    <br/>
    <div>
      <input type="password" name="password" placeholder="Password" required />
    </div>
    <br/>
    <button type="submit">Login</button>
  </form>
</body>
</html>
